// main: ./style.css

// ---- Fonts ----

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');



// ---- Variables ----

@red-color-0: #FFDCDC;
@red-color-1: #E7A4A7;
@red-color-2: #CE6C71;
@red-color-3: #BD656C;
@red-color-4: #A65B65;
@red-color-5: #864D5B;
@red-color-6: #5A3C4F;

@cyan-color-0: #BFEAE8;
@cyan-color-1: #6CCECB;
@cyan-color-2: #5CA2A4;
@cyan-color-3: #4D7C83;
@cyan-color-4: #425F69;
@cyan-color-5: #3C4E5A;

@hazel-color-0: #F9C09C;
@hazel-color-1: #F6B38B;
@hazel-color-2: #E5A18D;
@hazel-color-3: #C67A73;
@hazel-color-4: #B76E70;

@blue-color-0: #E0F5F4;
@blue-color-1: #B7ECFF;
@blue-color-2: #86DDEE;
@blue-color-3: #62C6E3;
@blue-color-4: #358EB5;
@blue-color-5: #1A567D;



// ---- Mixins ----

#Button {
    text-decoration: none;
    transition: background-color .075s;
    color: @cyan-color-4;
    background-color: @blue-color-0;
    filter: drop-shadow(@blue-color-2 0 0 .2rem);

    &:hover {
        cursor: pointer;
        background-color: @blue-color-2;
    }
    &:active {
        background-color: @red-color-1;
    }
    &:focus {
        outline: @red-color-2 solid .15rem;
    }
}



// ---- Styling ----

html {
    background-color: @blue-color-1;
    color: @cyan-color-5;
    font: 1rem "Atkinson Hyperlegible Mono";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60rem;
    height: 30rem;
    padding-right: 2.5rem;
}

.home__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 100%;
}
.home__img {
    width: 90%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 1.5rem 0;
}
.logo__greeting {
    width: 90%;
    font-size: smaller;
    font-weight: bold;
    color: @blue-color-4;
}
.logo__img {
    width: 90%;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
}
.nav__button {
    #Button();

    display: flex;
    align-items: center;
    gap: .75rem;
    box-sizing: border-box;
    height: 2.5rem;
    width: 100%;
    padding: 0 .75rem;
    border-radius: 3rem;
}
.nav__button-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.socials {
    display: flex;
    margin-top: .75rem;
    justify-content: center;
    gap: .4rem;
}
.socials__link {
    #Button();

    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.socials__link-icon {
    width: 90%;
}