@font-face {
  font-family: "Material Symbols Outlined";
  src: url("fonts/Material_Symbols/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf");
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf");
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf");
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  /* 24px Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  font-family: "Atkinson Hyperlegible";
  background-color: #ffdcdc;
  color: #ce6c71;
}
.button {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.nav {
  position: relative;
  color: #ffdcdc;
}
.nav--lining {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 14rem;
  background-color: #fb6089;
}
.nav__button {
  display: grid;
  place-items: center;
  height: 2.5rem;
  width: 2.5rem;
  margin: 1rem;
  align-self: flex-end;
  border-radius: 2.5rem;
  transition: color 0.1s, background 0.1s;
  color: #ffdcdc;
  background: transparent;
}
.nav__button:hover {
  color: #ce6c71;
  background: #ffdcdc;
}
.nav__button:active {
  background: #60fbd2;
}
.nav__menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.1rem;
  padding-left: 4rem;
  padding-right: 1rem;
  font: bold italic 1.25rem "Libre Franklin";
}
.nav__menu-item {
  padding: 0 0.25rem;
  border-radius: 0.2rem;
  transition: color 0.1s, background 0.1s;
  text-decoration: none;
  color: #ffdcdc;
}
.nav__menu-item.nav__menu-item--selected {
  color: #ce6c71;
  background: #60fbd2;
}
.nav__menu-item:hover {
  color: #ce6c71;
  background: #ffdcdc;
}
.nav__menu-item:active {
  background: #60fbd2;
}
.nav__footer {
  padding: 0.5rem;
  margin-top: 5rem;
  font-size: 0.75rem;
}
