// main: ./style.css

// ---- Fonts ----

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&family=Special+Gothic+Expanded+One&family=Special+Gothic:wght@400..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

/* @color-background: hsl(10, 100%, 92%);
@color-primary: hsl(357, 50%, 62%);
@color-secondary: hsl(357, 56%, 77%);
@color-accent: hsl(178, 50%, 62%);
@color-white: hsl(60, 31%, 94%); 

@red-color-0: #FFDCDC;
@red-color-1: #E7A4A7;
@red-color-2: #CE6C71;
@red-color-3: #BD656C;
@red-color-4: #A65B65;
@red-color-5: #864D5B;
@red-color-6: #5A3C4F;

@cyan-color-0: #BFEAE8;
@cyan-color-1: #6CCECB;
@cyan-color-2: #5CA2A4;
@cyan-color-3: #4D7C83;
@cyan-color-4: #425F69;
@cyan-color-5: #3C4E5A;

@hazel-color-0: #F9C09C;
@hazel-color-1: #F6B38B;
@hazel-color-2: #E5A18D;
@hazel-color-3: #C67A73;
@hazel-color-4: #B76E70;

@blue-color-0: #E0F5F4;
@blue-color-1: #B7ECFF;
@blue-color-2: #86DDEE;
@blue-color-3: #62C6E3;
@blue-color-4: #358EB5;
@blue-color-5: #1A567D;*/

@color-background: hsl(10, 100%, 94%);
@color-text: #a65b65;
@color-primary: #dd585c;
@color-secondary: #f59797;
@color-accent: #44b7ad;
@color-white: hsl(60, 31%, 94%);

#mobile (@rules, @width: 850px) {
    @media screen and (max-width: @width) {
        & {
            @rules();
        }
    }
}

@layer home, article;

html {
    background-color: @color-background;
    color: @color-primary;
    font: 1rem "Atkinson Hyperlegible Next";
}

@layer home {
    .home-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .home {
        #mobile({
            flex-direction: column;
        });

        display: flex;
        position: relative;
        top: -3.5rem;
        align-items: stretch;
        height: min-content;
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-width: 25rem;
        height: auto;

        #mobile(@width: 400px, {
            max-width: 20rem;
        });
    }
    .bumper {
        width: 100%;
        height: auto;

        mix-blend-mode: multiply;
    }
    .logo {
        position: absolute;
        width: 50%;
        height: auto;
        right: 1rem;
        mix-blend-mode: multiply;
    }

    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 3.25rem;
        margin-bottom: .75rem;
        
        font-size: 1.25rem;

        #mobile({
            margin: 0 .75rem;
        });
        #mobile(@width: 400px, {
            margin: 0 .5rem;
            font-size: 1rem;
        });
    }
    .menu__link {
        width: fit-content;

        font: 1em "Special Gothic Expanded One";
        color: @color-primary;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1.15;

        transition: color .05s;

        &:hover {
            color: @color-accent;
        }
    }
    .menu__link--big {
        font-size: 2em;
        line-height: 1;
    }
    .menu__link--disabled {
        pointer-events: none;
        color: @color-secondary;
    }

    .gap {
        flex: 1;
    }

    .socials {
        #mobile({
            margin-top: .5rem;
        });

        display: flex;
        gap: .5rem;
    }
    .socials__link {
        width: 1em;
        height: 1em;
        padding: .1rem;
        background-color: @color-primary;

        transition: background-color .05s;

        &:hover {
            background-color: @color-accent;
        }
    }
    .patreon { mask: url(./assets/svg/patreon.svg) no-repeat; mask-size: contain; mask-position: center; }
    .kofi    { mask: url(./assets/svg/kofi.svg) no-repeat; mask-size: contain; mask-position: center; }
    .discord { mask: url(./assets/svg/discord.svg) no-repeat; mask-size: contain; mask-position: center; }
    .bsky    { mask: url(./assets/svg/bsky.svg) no-repeat; mask-size: contain; mask-position: center; }
    .tumblr  { mask: url(./assets/svg/tumblr.svg) no-repeat; mask-size: contain; mask-position: center; }
    .github  { mask: url(./assets/svg/github.svg) no-repeat; mask-size: contain; mask-position: center; }

    .copyright {
        position: absolute;
        left: .75rem;
        bottom: -.75rem;

        font: .75rem "Atkinson Hyperlegible Mono";
        color: @color-secondary;

        #mobile({
            bottom: -1.75rem;
        })
    }
}

@layer article {
    .article {
        #mobile({
            width: 90%;
        });

        width: 45rem;
        margin: 5rem auto;
        overflow-x: hidden;
    }

    .title {
        margin: 0;

        font: 4rem "Special Gothic Expanded One";
        color: @color-accent;
        line-height: .9;
    }

    .content {
        color: @color-text;

        h1, h2, h3, h4, h5, h6 {
            margin: 1rem 0;
        }
        h1 {
            font-family: "Special Gothic Expanded One";
            color: @color-primary;
        }
        h2 {
            font-family: "Special Gothic";
        }
        h3 {
            font-family: "Special Gothic Condensed One";
        }
    }

    .article-copyright {
        font: .75rem "Atkinson Hyperlegible Mono";
        color: @color-secondary;
    }
}