// main: ../style.css

// Variables
@bg-color: #ffdcdc;
@main-color: #fb6089;
@dark-color: #ce6c71;

// Fonts
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf");
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf");
}
@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}